  <nav class="
          navbar navbar-expand-md navbar-light
          pt-2
          fixed-top
        " id="navbar">
      <div class="container-fluid border-light d-flex justify-content-between align-items-center inner-nav">
        <a class="navbar-brand order-1 order-md-0" href="#"><img id="ravens-logo" src="/images/ravens-logo.png"
            alt="ravens logo football team" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="three col">
            <div class="hamburger" id="hamburger-9">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line" id="line-3"></span>
            </div>
          </div>
        </button>
        <a class="nav-link order-2 order-md-1" aria-current="page" href="#"><img id="cart-logo"
            src="./images/shoppingCart.png" /></a>
        <div class="collapse navbar-collapse order-3 order-md-0 ml-3" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-links-container">
            <li class="nav-item">
              <a class="nav-link text-white h4" href="#">EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white h4" href="#">MERCHANDISE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white h4" href="#">MEDIA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white h4" href="#">SCHEDULE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white h4" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>