body{
   background-color: rgba(36,  26, 44, 1); 
}
.forgot-p{
    color:  white;
    padding-top: 15rem;
    padding-left: 15rem;
    font-family: 'Barlow', sans-serif;
    
}
.email{
    color: white;
    padding-left: 22rem;
}
.enter-email{
    color: white;
    margin-left: 19rem;
    font-family: 'Lato', sans-serif;
}
#home-btn{
    color: white;
    border-bottom: 1px solid white;
}
#reset-btn{
    border: 1px solid white;
    color: white;
    padding: .2rem .5rem;
}
#reset:hover{
 cursor: pointer;
}
.forgot-container{
    width: 50%;
}
.input-1{
    padding-left: 10rem;
    margin-left: 19rem;
    padding: 1px 96px;
    border-radius: 1rem;
    border: 2px solid white;
    background-color: rgb(132, 122, 141);
}
.go-home{
    color: white;
    margin-left: 19rem;
    font-family: lato;
    
    
}
.go-home a{
    color: white;
    
}
#reset{
    margin-left: 5rem;
    border: 2px solid white;
    background-color: rgba(36,  26, 44, 1);
    color: white;
    padding: 1px 28px;
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
}
@media (max-width: 768px){
  .forgot-p{
      padding-left: 0;
  }
  .enter-email{
      margin-left: 0rem;
  }
  .input-1{
      margin-left: 0;
  }
  .go-home{
      margin-left: 0rem;
  }
}
    
